




/node_modules
/dist
/_removed



#= VSCode =========================================================================================== 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#= VitePress ======================================================================================== 
/docs/.vitepress/cache
/docs/.vitepress/dist



# Ignored by Notes Hub extension
.notesHub

/coverage


